<% content_for :title do 'Ники для Доты, генератор имен и ников для DotA 2, прикольные ники для Доты' end %>
<%= render 'layouts/above_nickbox_ads' %>
<%= render 'layouts/skin_nickbox' %>
<%= render 'layouts/body_ads' %>
<div class="col-md-8 col-md-offset-2 about-race">
  <h3>Ники для Доты</h3>
  Для того, чтобы нагибать раков на миде, стоит сначала обзавестись хорошим ником. Воспользовавшись генератором ников для Доты вы легко и непринужденно создадите себе уникальный и запоминающийся ник, при одном только виде которого ваши противники растеряются и позволят безболезненно себя убить. Не тратьте время, придумывая ники для Доты, сгенерируйте себе ник при помощи Никшейкера и отправляйтесь на поле боя!
</div>

<script>
  race = 'crab';
  game = 'dota';
  $('.thecontent').addClass('dota-bg');
  $('.the-tabs li.dota').addClass('active');
</script>
