<h3>Привет!</h3>
<style>
p {
  color: #414141;
}
</style>
<p>
  Ты, наверное, ожидаешь увидеть администраторскую страницу какого-нибудь движка?
  <strong>Wordpress</strong>, <strong>Joomla</strong>, <strong>Drupal</strong>, <strong>DLE</strong>, что там еще популярно?
</p>

<p>
  Но дружок, этот сайт сделан не на одном из этих движков :) В качестве основы для создания я использовал Ruby on Rails, fullstack-фреймворк, написанный на языке Ruby. Если ты хочешь научиться делать такие крутые сайты, как этот, как <a href="http://twitter.com">Twitter</a>, <a href="http://dribbble.com">Dribbble</a>, <a href="http://shopify.com">Shopify</a>, <a href="http://airbnb.ru">Airbnb</a>, можешь написать мне на почту <a href="mailto:frey@list.ru">frey@list.ru</a> и я подскажу, с чего начать.
</p>

<p style="text-align: right;"><a href="http://frey.su/">Евгений</a></p>

<% content_for :title do "Сайт сделан на Ruby on Rails" end %>
