<%= form_for(@nick) do |f| %>
  <% if @nick.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@nick.errors.count, "error") %> prohibited this nick from being saved:</h2>

      <ul>
      <% @nick.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
