<h1>Listing nicks</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @nicks.each do |nick| %>
      <tr>
        <td><%= link_to 'Show', nick %></td>
        <td><%= link_to 'Edit', edit_nick_path(nick) %></td>
        <td><%= link_to 'Destroy', nick, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Nick', new_nick_path %>
