<div class="index col-sm-offset-2 col-md-offset-2 col-lg-offset-2 col-sm-8 col-md-8 col-lg-8">

<h1>Генератор ников для GTA: SAMP</h1>
<p>Игровой мир GTA San Andreas Multiplayer основан на реальных городах, в которых живут реальные люди множества различных национальностей. Здесь есть немцы, французы, итальянцы и, конечно же, американцы. Для полного погружения в атмосферу игры вам потребуется ролевой (РП) ник для GTA SAMP. Здесь вы сможете сгенерировать себе красивое имя для любой национальности. Создавайте себе мужские и женские имена и фамилии для ваших персонажей!
</p>

<% if user_signed_in? %>
  <%= link_to 'New Samp', new_samp_path %>
<% end %>

<script>
	    	$('.the-tabs li.samp').addClass('active');
</script>
<% content_for :title, "Генератор ников для  GTA San Andreas MultiPlayer (РП ники и имена)" %>
</div>
