<div class="index col-sm-offset-3 col-md-offset-3 col-lg-offset-2 col-sm-7 col-md-7 col-lg-8">

<h1>Генератор ников для World of Warcraft</h1>
<p>Наверняка многие тысячи игроков сталкивались с выбором имени игрового персонажа. Это не всегда легко - подобрать своему аватару, альтер-эго в игровом мире подходящее ему, вам и вселенной игры имя. Генератор ников отчасти решает эту проблему - с его помощью можно сгенерировать ролевой (рп) ник для WoW, причем суммарно может быть сгенерировано несколько миллионов вариантов - есть где разгуляться!</p>

<p>Генератор разбит на расы-категории, а поскольку расы в игре World of Warcraft довольно сильно различаются, то и создаваемые имена будут выглядеть соответственно духу и атмосферности выбранной игровой расы.</p>

<br>
<% if user_signed_in? %>
<%= link_to 'New Wow', new_wow_path %>
<% end %>
<script>
        $('.the-tabs li.wow').addClass('active');
</script>
<% content_for :title, "Генератор ников для  World of Warcraft (WoW РП ники и имена)" %>

</div>