<div class="text-center">
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- under nickbox -->
  <ins class="adsbygoogle"
      style="display:block"
      data-ad-client="ca-pub-1089030902509315"
      data-ad-slot="1085256793"
      data-ad-format="auto"></ins>
  <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>
