<div class="wide-center">
  <center>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Wide nickshaker body -->
    <ins class="adsbygoogle"
         style="display:inline-block;width:728px;height:90px"
         data-ad-client="ca-pub-1089030902509315"
         data-ad-slot="8301792795"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </center>
</div>
