  <!--script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script-->
  <!-- Nickshaker body -->
  <!--ins class="adsbygoogle"
       style="display:inline-block;width:320px;height:100px"
       data-ad-client="ca-pub-1089030902509315"
       data-ad-slot="8636541195"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script-->

<div class="col-sm-offset-3 col-md-offset-3 col-lg-offset-3 col-sm-6 col-md-6 col-lg-6" >

<!-- admitad.banner: 9184418f4e55b3abcf1fba1be516a5 Drakensang RU -->
<script type="text/javascript">
try{(function(d,ad,s,ulp,subID,injectTo){

  /* Optional settings (these lines can be removed): */
  ulp = "";  // - custom goto link;
  subID = "";  // - local banner key;
  injectTo = "";  // - #id of html element (ex., "top-banner").

var dInject="admitad"+ad+subID+Math.round(Math.random()*100000000);
injectTo=="" && d.write('<div id="'+dInject+'"></div>');
s=s.replace("$",ad);s+="?inject="+(injectTo==""||!injectTo?dInject:injectTo);
if(subID!="")s+="&subid="+subID;if(ulp!="")s+="&ulp="+escape(encodeURI(ulp));
s=(("https:"==d.location.protocol)?"https":"http")+"://"+s;var j=d.createElement("script");
j.type="text/javascript";j.src=s;(d.getElementsByTagName("head")[0]).appendChild(j);
})(window.document,"9184418f4e55b3abcf1fba1be516a5","ad.admitad.com/j/$/","","","");}catch(err){}
</script>
<noscript>
<embed wmode="opaque" width="320" height="280" src="//ad.admitad.com/f/9184418f4e55b3abcf1fba1be516a5/" type="application/x-shockwave-flash">
<noembed>
<a target="_blank" rel="nofollow" href="//ad.admitad.com/goto/9184418f4e55b3abcf1fba1be516a5/">
<img width="320" height="280" border="0" src="//ad.admitad.com/b/9184418f4e55b3abcf1fba1be516a5/" alt="Drakensang RU" />
</a>
</noembed>
</noscript>
<!-- /admitad.banner -->
</div>
