<% cache do %>
  <footer>
    <div class='col-md-3'>
      <ul>
        <li><a href='http://madhat.ru/'>Мэдя</a></li>
        <li><a href=''>Lau</a></li>
        <li><a href='http://frey.su/'>Frey</a></li>
      </ul>
    </div>

    <div class='col-md-offset-6 col-md-3 right'>
      <ul>
        <li>
          <a href='http://generatornikov.reformal.ru' onclick='Reformal.widgetOpen();return false;' onmouseover='Reformal.widgetPreload();'>
            Oтзывы и предложения
          </a>
        </li>
        <li>
          <a href='http://eu.battle.net/wow/ru/forum/topic/6876867716'>
            Тема на форуме World of Warcraft
          </a>
        </li>
      </ul>
    </div>

    <%= render 'layouts/scripts' %>
  </footer>
<% end %>
