    <div class="col-sm-2 col-md-2 col-lg-2 games">
      <div class="tabs-left">
        <ul class="the-tabs">
          <li class="wow">
          <%= link_to "", "#wow", data: {toggle: "tab"} %>
          </li>
          <li class="gw2">
          <%= link_to "", "#gw2", data: {toggle: "tab"} %>
          </li>
          <li class="samp">
          <%= link_to "", "#samp", data: {toggle: "tab"} %>
          </li>
          <li class="minecraft">
            <%= link_to "", "#minecraft", data: {toggle: "tab"} %>
          </li>
        </ul>
      </div>
    </div>