- cache do
  .col-sm-2.col-md-2.col-lg-2.games
    .tabs-left
      ul.the-tabs
        li.wow(
          data-toggle='tooltip'
          data-placement='bottom'
          title='World of Warcraft'
        )
          = link_to '', '#wow', data: { toggle: 'tab' }

        li.gw2(
          data-toggle='tooltip'
          data-placement='bottom'
          title='Guild Wars 2'
        )
          = link_to '', '#gw2', data: { toggle: 'tab' }

        li.samp(
          data-toggle='tooltip'
          data-placement='bottom'
          title='GTA San Andreas Multiplayer'
        )
          = link_to '', '#samp', data: { toggle: 'tab' }
