<header>
  <div class="col-md-3 logo">
    <%= link_to(image_tag("logo_1.png"), root_path ) %>
  </div>
  <div class="col-md-5 thereisnospoon">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Nickshaker.header -->
    <ins class="adsbygoogle"
         style="display:inline-block;width:468px;height:60px"
         data-ad-client="ca-pub-1089030902509315"
         data-ad-slot="9533873590"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
  <div class="col-md-4 text-right highgarden">
    <%= link_to 'График', statistics_graph_path %>
    <%= link_to "Статистика", statistics_path %>
  </div>
</header>
