- cache do
  header
    .col-md-3.logo
      = link_to(image_tag('logo_1.png'), "/#{I18n.locale}/" )
    .col-md-4.thereisnospoon
    .col-md-5.text-right.highgarden
      = link_to t('.statistics'), statistics_graph_path
      ' |
      = link_to image_tag('ru.gif'), '/ru/'
      = link_to image_tag('en.gif'), '/en/'
