<div class="row">
  <div class="col-sm-offset-3 col-md-offset-3 col-lg-offset-3 col-sm-6 col-md-6 col-lg-6 nickbox"data-toggle="tooltip" data-placement="top" title="Нажми на имя, чтобы скопировать">
    <div class="tooltip-to-copy">
      <div data-pjax-container data-clipboard-target='yournameishere' id="yournameishere" >
        Имя
      </div>
    </div>
      Придумать имя:
    <div id="sexybuttons">
      <%= link_to 'Мужское', '#', name: 'male', remote: true %>
      <%= link_to 'Женское', '#', name: 'female', remote: true %>
    </div>
  </div>
</div>
