<div class="row">
    <div class="col-sm-offset-3 col-md-offset-3 col-lg-offset-3 col-sm-6 col-md-6 col-lg-6 nickbox">
        <div data-pjax-container id="yournameishere">Имя</div>
        Придумать имя:
        <div id="sexybuttons">
    <%= link_to 'Мужское', '#', :name => 'male', remote: true%>
    <%= link_to 'Женское', '#', :name => 'female', remote: true%>
    </div>
     <%= render 'layouts/share' %>
    </div>
</div>