- cache do
  .row
    .col-md-offset-3.col-md-6.nickbox data-toggle="tooltip" data-placement="top" title="Нажми на имя, чтобы скопировать"
      .tooltip-to-copy
        <div data-pjax-container data-clipboard-target='yournameishere' id="yournameishere" >
          = t('.name')
        </div>
        = "#{t('.generate_name')}:"
      #sexybuttons
        = link_to t('.male'),   '#', name: 'male',   remote: true, class: 'just_nick'
        = link_to t('.female'), '#', name: 'female', remote: true, class: 'just_nick'
